# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build
.turbo
.next
out
coverage
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# IDE
.vscode
.idea
*.swp
*.swo
*~

# DB
pgdata
redisdata
natsdata
miniodata

# Artifacts
*.tgz
*.tar.gz

# Misc
.cache
.parcel-cache
uploads/
.env
